html,
body,
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.github-logo {
    height: 1em;
    width: auto;
}

body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  min-height: 50px;
  background: lightcyan;
}

footer {
  min-height: 50px;
  background: PapayaWhip;
}