html,
body,
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.github-logo {
    height: 1em;
    width: auto;
}

body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto auto 3fr auto;
}

#header-container {
  min-height: 50px;
  background: lightcyan;
}

#header-row {
  background-color: #9e9eff;
}

#header-container, #table-container, #add-button-container, #footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.remove-button-cell{
  background-color: rgb(255, 65, 65);
  text-decoration: white dotted underline overline;
  text-underline-offset: .2em;
  font-weight: bold;
  
}


[class^="read"], .remove-button-cell, button{
  cursor: pointer;
}

.read-true{
  background-color: green;
}

.read-true::before{
  content: "\2714";
}

.read-false{
  background-color: orange;
}

.read-false::before{
  content: "\2715";
}

footer {
  min-height: 50px;
  background: PapayaWhip;
}

#newBookButton{
  margin: .2em;
}

.buttonContainer {
  height: 2em;
  width: 2em;
}

::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}

dialog {
  border: none;
  border-radius: calc(5px * var(--ratio));
  box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  padding: 1.6rem;
  max-width: 400px;

  position: fixed;
  /* Move it 50% relative to container */
  top: 50%;
  left: 50%;
  /* Move it back 50% relative to self */
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#clearFormButtonContainer{
  padding: .1rem;
  margin: .1rem;
}

table {
	display: table;
  border: 2px solid;
  border-collapse: separate;
  text-indent: 0;
  --color1: #9e9eff;
  --color2: #ffba42;
}


thead,
tfoot {
	background: var(--color1);
}

tbody, tr:nth-child(even) {
	background: color-mix(in srgb, var(--color1), transparent 60%);
}

tbody, tr:nth-child(odd) {
	background: color-mix(in srgb, var(--color2), transparent 60%);
}

#headerRow {
  background-color: papayawhip;
}

th, td{
  padding: .2em .1em;
}

label{
  margin: .2rem;
  padding: .2rem;
}

input{
  margin: .2rem;
  padding: .2rem;
  width: 100%;
}

button {
    display: inline-block;
    border: none;
    padding: .5rem 1rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}